@font-face {
  font-family: 'alloyeditor-ez';
  src: url('/bundles/ezplatformadminui/css/fonts/alloyeditor-ez.eot');
  src: url('/bundles/ezplatformadminui/css/fonts/alloyeditor-ez.eot?#iefix') format('embedded-opentype'),
    url('/bundles/ezplatformadminui/css/fonts/alloyeditor-ez.woff') format('woff'),
    url('/bundles/ezplatformadminui/css/fonts/alloyeditor-ez.ttf') format('truetype'),
    url('/bundles/ezplatformadminui/css/fonts/alloyeditor-ez.svg#alloyeditor-ez') format('svg');
  font-weight: normal;
  font-style: normal;
}

.cke_widget_wrapper:hover > .cke_widget_element[data-ezelement='ezembed'] {
  outline: 1px solid #f15a10;
}

.ae-ui .ae-toolbar .ae-container-edit-table .ae-button {
  border-radius: 50%;
  background-color: #00825c;
  color: #fff;
  margin-left: 16px;
}

.ae-container-edit-table .ae-button .ae-icon-ok {
  font-size: 30px;
}

.ae-container-edit-table .ae-container-input {
  border: 1px solid #979797;
}

.ae-ui .ae-container-edit-table .ae-container-input .ae-input {
  height: 30px;
}

[class*='ae-icon-'],
[class*=' ae-icon-'] {
  display: block;
  font-family: 'alloyeditor-ez';
  speak: none;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.2;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ae-icon-add:before {
  content: '\';
}

.ae-icon-align-center:before {
  content: '\';
}

.ae-icon-align-justified:before {
  content: '\';
}

.ae-icon-align-left:before {
  content: '\';
}

.ae-icon-align-right:before {
  content: '\';
}

.ae-icon-arrow:before {
  content: '\';
}

.ae-icon-audio:before {
  content: '\';
}

.ae-icon-bin:before {
  content: '\';
}

.ae-icon-bold:before {
  content: '\';
}

.ae-icon-bulleted-list:before {
  content: '\';
}

.ae-icon-camera:before {
  content: '\';
}

.ae-icon-cell:before {
  content: '\';
}

.ae-icon-close:before {
  content: '\';
}

.ae-icon-code:before {
  content: '\';
}

.ae-icon-column:before {
  content: '\';
}

.ae-icon-embed:before {
  content: '\';
}

.ae-icon-h1:before {
  content: '\';
}

.ae-icon-h2:before {
  content: '\';
}

.ae-icon-image:before {
  content: '\';
}

.ae-icon-indent-block:before {
  content: '\';
}

.ae-icon-italic:before {
  content: '\';
}

.ae-icon-link:before {
  content: '\';
}

.ae-icon-numbered-list:before {
  content: '\';
}

.ae-icon-ok:before {
  content: '\';
}

.ae-icon-outdent-block:before {
  content: '\';
}

.ae-icon-quote:before {
  content: '\';
}

.ae-icon-remove:before {
  content: '\';
}

.ae-icon-removeformat:before {
  content: '\';
}

.ae-icon-row:before {
  content: '\';
}

.ae-icon-separator:before {
  content: '\';
}

.ae-icon-strike:before {
  content: '\';
}

.ae-icon-subscript:before {
  content: '\';
}

.ae-icon-superscript:before {
  content: '\';
}

.ae-icon-table:before {
  content: '\';
}

.ae-icon-twitter:before {
  content: '\';
}

.ae-icon-underline:before {
  content: '\';
}

.ae-icon-unlink:before {
  content: '\';
}

.ae-icon-video:before {
  content: '\';
}

@charset "UTF-8";

/** GENERAL VARIABLES */

/** COMPONENT VARIABLES **/

/** DROPDOWN-LISTBOX **/

/** DROPDOWN-LISTBOX HEADER **/

/** DROPDOWN-LISTBOX ITEM */

/** ARROW-BOX **/

/** CONTAINER **/

/** CONTAINER-DROPDOWN **/

/** CONTAINER-EDIT **/

/** CONTAINER-INPUT */

/** DROPDOWN **/

/** DROPDOWN-LISTBOX HEADER **/

/** DROPDOWN-LISTBOX ITEM **/

/** TOOLBAR **/

/**
 * The order of imports is as follow:
 * CSS for outer (parent) components should precede
 * the CSS of nested components or components which
 * stay on the same level in the hierarchy.
 */

.ae-placeholder:not(:focus):before {
  content: attr(data-placeholder);
}

.ae-twitter-link {
  padding: 0 5px;
}

.ae-twitter-link:after {
  display: inline-block;
  margin: 0 0 0 4px;
  vertical-align: middle;
}

.ae-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.ae-ui IE10-PLUS::-ms-reveal,
.ae-ui [class^='ae-toolbar'] {
  height: auto;
  box-sizing: content-box;
}

.ae-ui .ae-toolbar,
.ae-ui [class^='ae-toolbar-'] {
  line-height: 1;
  padding: 4px;
  position: absolute;
}

.ae-ui .ae-toolbar input,
.ae-ui .ae-toolbar textarea,
.ae-ui .ae-toolbar keygen,
.ae-ui .ae-toolbar select,
.ae-ui .ae-toolbar button,
.ae-ui [class^='ae-toolbar-'] input,
.ae-ui [class^='ae-toolbar-'] textarea,
.ae-ui [class^='ae-toolbar-'] keygen,
.ae-ui [class^='ae-toolbar-'] select,
.ae-ui [class^='ae-toolbar-'] button {
  font-size: 15px;
}

.ae-ui .ae-toolbar.ae-toolbar-transition,
.ae-ui [class^='ae-toolbar-'].ae-toolbar-transition {
  -webkit-transition-property: height, left, opacity, top;
  -moz-transition-property: height, left, opacity, top;
  transition-property: height, left, opacity, top;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.ae-ui .ae-toolbar .ae-button,
.ae-ui .ae-toolbar .ae-toolbar-element,
.ae-ui [class^='ae-toolbar-'] .ae-button,
.ae-ui [class^='ae-toolbar-'] .ae-toolbar-element {
  border-width: 0;
  color: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ae-ui .ae-toolbar .ae-button:hover:disabled,
.ae-ui .ae-toolbar .ae-button:hover.ae-button-disabled,
.ae-ui .ae-toolbar .ae-button:focus:disabled,
.ae-ui .ae-toolbar .ae-button:focus.ae-button-disabled,
.ae-ui .ae-toolbar .ae-toolbar-element:hover:disabled,
.ae-ui .ae-toolbar .ae-toolbar-element:hover.ae-button-disabled,
.ae-ui .ae-toolbar .ae-toolbar-element:focus:disabled,
.ae-ui .ae-toolbar .ae-toolbar-element:focus.ae-button-disabled,
.ae-ui [class^='ae-toolbar-'] .ae-button:hover:disabled,
.ae-ui [class^='ae-toolbar-'] .ae-button:hover.ae-button-disabled,
.ae-ui [class^='ae-toolbar-'] .ae-button:focus:disabled,
.ae-ui [class^='ae-toolbar-'] .ae-button:focus.ae-button-disabled,
.ae-ui [class^='ae-toolbar-'] .ae-toolbar-element:hover:disabled,
.ae-ui [class^='ae-toolbar-'] .ae-toolbar-element:hover.ae-button-disabled,
.ae-ui [class^='ae-toolbar-'] .ae-toolbar-element:focus:disabled,
.ae-ui [class^='ae-toolbar-'] .ae-toolbar-element:focus.ae-button-disabled {
  color: inherit;
}

.ae-ui .ae-toolbar .ae-button:disabled,
.ae-ui .ae-toolbar .ae-button.ae-button-disabled,
.ae-ui .ae-toolbar .ae-toolbar-element:disabled,
.ae-ui .ae-toolbar .ae-toolbar-element.ae-button-disabled,
.ae-ui [class^='ae-toolbar-'] .ae-button:disabled,
.ae-ui [class^='ae-toolbar-'] .ae-button.ae-button-disabled,
.ae-ui [class^='ae-toolbar-'] .ae-toolbar-element:disabled,
.ae-ui [class^='ae-toolbar-'] .ae-toolbar-element.ae-button-disabled {
  cursor: auto;
  opacity: 0.3;
}

.ae-ui .ae-toolbar .ae-button,
.ae-ui [class^='ae-toolbar-'] .ae-button {
  height: 34px;
  width: 34px;
}

.ae-ui .ae-toolbar-add {
  padding: 0;
}

.ae-ui .ae-toolbar-add .ae-button {
  height: 34px;
  width: 34px;
}

.ae-ui .ae-arrow-box:after {
  content: '';
  margin: auto;
  position: absolute;
}

.ae-ui .ae-arrow-box.ae-arrow-box-bottom:after {
  height: 0;
  width: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 8px solid currentColor;
  left: 0;
  right: 0;
  top: 100%;
}

.ae-ui .ae-arrow-box.ae-arrow-box-top:after {
  height: 0;
  width: 0;
  border-bottom: 8px solid currentColor;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  left: 0;
  right: 0;
  top: -8px;
}

.ae-ui .ae-arrow-box.ae-arrow-box-top-left:after {
  height: 0;
  width: 0;
  border-bottom: 8px solid currentColor;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  left: 6px;
  top: -8px;
}

.ae-ui .ae-arrow-box.ae-arrow-box-top-right:after {
  height: 0;
  width: 0;
  border-bottom: 8px solid currentColor;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  right: 6px;
  top: -8px;
}

.ae-ui .ae-arrow-box.ae-arrow-box-left:after {
  height: 0;
  width: 0;
  border-bottom: 9px solid transparent;
  border-right: 8px solid currentColor;
  border-top: 9px solid transparent;
  left: -8px;
  top: 0;
  bottom: 0;
}

.ae-ui .ae-arrow-box.ae-arrow-box-right:after {
  height: 0;
  width: 0;
  border-bottom: 9px solid transparent;
  border-left: 8px solid currentColor;
  border-top: 9px solid transparent;
  right: -8px;
  top: 0;
  bottom: 0;
}

.ae-ui .ae-container,
.ae-ui [class^='ae-container-'] {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.ae-ui .ae-container *,
.ae-ui .ae-container *:after,
.ae-ui .ae-container *:before,
.ae-ui [class^='ae-container-'] *,
.ae-ui [class^='ae-container-'] *:after,
.ae-ui [class^='ae-container-'] *:before {
  box-sizing: inherit;
  color: inherit;
}

.ae-ui .ae-container input,
.ae-ui .ae-container textarea,
.ae-ui .ae-container keygen,
.ae-ui .ae-container select,
.ae-ui .ae-container button,
.ae-ui [class^='ae-container-'] input,
.ae-ui [class^='ae-container-'] textarea,
.ae-ui [class^='ae-container-'] keygen,
.ae-ui [class^='ae-container-'] select,
.ae-ui [class^='ae-container-'] button {
  color: initial;
}

.ae-ui .ae-container .ae-container,
.ae-ui .ae-container [class^='ae-container-'],
.ae-ui .ae-container .ae-button,
.ae-ui .ae-container .ae-toolbar-element,
.ae-ui .ae-container label,
.ae-ui [class^='ae-container-'] .ae-container,
.ae-ui [class^='ae-container-'] [class^='ae-container-'],
.ae-ui [class^='ae-container-'] .ae-button,
.ae-ui [class^='ae-container-'] .ae-toolbar-element,
.ae-ui [class^='ae-container-'] label {
  font-size: 15px;
  margin: 0;
  position: relative;
}

.ae-ui .ae-container .ae-container:not(:last-child),
.ae-ui .ae-container [class^='ae-container-']:not(:last-child),
.ae-ui .ae-container .ae-button:not(:last-child),
.ae-ui .ae-container .ae-toolbar-element:not(:last-child),
.ae-ui .ae-container label:not(:last-child),
.ae-ui [class^='ae-container-'] .ae-container:not(:last-child),
.ae-ui [class^='ae-container-'] [class^='ae-container-']:not(:last-child),
.ae-ui [class^='ae-container-'] .ae-button:not(:last-child),
.ae-ui [class^='ae-container-'] .ae-toolbar-element:not(:last-child),
.ae-ui [class^='ae-container-'] label:not(:last-child) {
  margin-right: 0;
}

.ae-ui .ae-container-edit-link,
.ae-ui .ae-container-edit-table {
  height: 40px \9;
}

.ae-ui .ae-container-edit-link *,
.ae-ui .ae-container-edit-table * {
  float: left \9;
}

.ae-ui .ae-container-edit-link label,
.ae-ui .ae-container-edit-table label {
  padding: 0 10px;
  position: relative \9;
  top: 25% \9;
  transform: translateY(-50%) \9;
}

.ae-ui .ae-container-edit-link IE10-PLUS::-ms-reveal,
.ae-ui .ae-container-edit-link label,
.ae-ui .ae-container-edit-table IE10-PLUS::-ms-reveal,
.ae-ui .ae-container-edit-table label {
  top: 0;
  transform: translateY(0);
}

.ae-ui .ae-container-input {
  -webkit-box-lines: single;
  -moz-box-lines: single;
  box-lines: single;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 240px;
}

.ae-ui .ae-container-input.xxl {
  width: 560px;
}

.ae-ui .ae-container-input.medium {
  width: 120px;
}

.ae-ui .ae-container-input.small {
  width: 60px;
}

.ae-ui .ae-container-input.flexible {
  width: auto;
  flex-grow: 1;
}

.ae-ui .ae-container-input input,
.ae-ui .ae-container-input .ae-input {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 40px;
  margin: 0;
  max-width: 100%;
  padding: 10px 6px 10px 12px;
  display: inline-block \9;
  width: 200px \9;
}

.ae-ui .ae-container-input .ae-container-dropdown {
  padding-left: 4px;
}

.ae-ui .ae-container-input .ae-icon-remove {
  float: right \9;
}

.ae-ui .ae-container-dropdown,
.ae-ui [class^='ae-container-dropdown-'] {
  float: left \9;
  width: 120px !important;
}

.ae-ui .ae-container-dropdown > .ae-toolbar-element,
.ae-ui [class^='ae-container-dropdown-'] > .ae-toolbar-element {
  float: left \9;
  height: 34px;
  text-align: left;
  width: 100%;
}

.ae-ui .ae-container-dropdown > .ae-toolbar-element .ae-container,
.ae-ui [class^='ae-container-dropdown-'] > .ae-toolbar-element .ae-container {
  padding: 0 10px;
  height: 100% \9;
  width: 100%;
}

.ae-ui .ae-container-dropdown > .ae-toolbar-element .ae-container .ae-icon-arrow,
.ae-ui [class^='ae-container-dropdown-'] > .ae-toolbar-element .ae-container .ae-icon-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  float: right \9;
  position: absolute \9;
  right: 0 \9;
  top: 25% \9;
}

.ae-ui .ae-container-dropdown > .ae-toolbar-element .ae-container .ae-container-dropdown-selected-item,
.ae-ui [class^='ae-container-dropdown-'] > .ae-toolbar-element .ae-container .ae-container-dropdown-selected-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: inline-block;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative \9;
}

.ae-ui .ae-container-dropdown > .ae-toolbar-element .ae-container IE10-PLUS::-ms-reveal,
.ae-ui .ae-container-dropdown > .ae-toolbar-element .ae-container .ae-container-dropdown-selected-item,
.ae-ui [class^='ae-container-dropdown-'] > .ae-toolbar-element .ae-container IE10-PLUS::-ms-reveal,
.ae-ui [class^='ae-container-dropdown-'] > .ae-toolbar-element .ae-container .ae-container-dropdown-selected-item {
  top: 0;
  transform: translateY(0);
}

.ae-ui .ae-container-dropdown-small {
  width: 80px !important;
}

.ae-ui .ae-container-dropdown-medium {
  width: 160px !important;
}

.ae-ui .ae-container-dropdown-xl {
  width: 200px !important;
}

.ae-ui .ae-button-bridge [class*='ae-icon-'],
.ae-ui .ae-button-bridge [class*=' ae-icon-'] {
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  width: 16px;
  margin-left: 12px;
}

.ae-ui .ae-has-dropdown {
  display: block;
  float: left \9;
  /* Set width here (not min-width) to prevent the dropdown container from moving when expanding/collapsing the it */
  width: 40px;
}

.ae-ui .ae-dropdown,
.ae-ui [class^='ae-dropdown-'] {
  left: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  top: 44px;
}

.ae-ui .ae-dropdown .ae-list-header,
.ae-ui [class^='ae-dropdown-'] .ae-list-header {
  display: inline-block;
  margin: 8px 12px;
}

.ae-ui .ae-dropdown .ae-list-header:first-child,
.ae-ui [class^='ae-dropdown-'] .ae-list-header:first-child {
  margin-top: 4px;
}

.ae-ui .ae-dropdown .ae-listbox,
.ae-ui [class^='ae-dropdown-'] .ae-listbox {
  list-style: none;
  margin: 0;
  min-height: 44px;
  min-width: 132px;
  padding: 0;
}

.ae-ui .ae-dropdown .ae-listbox .ae-toolbar-element,
.ae-ui [class^='ae-dropdown-'] .ae-listbox .ae-toolbar-element {
  font-size: 16px;
  height: 3em;
  line-height: 28px;
  margin-right: 0;
  max-height: 44px;
  min-width: 100%;
  padding: 8px 12px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}

.ae-ui .ae-dropdown .ae-listbox .ae-toolbar-element *,
.ae-ui [class^='ae-dropdown-'] .ae-listbox .ae-toolbar-element * {
  display: inline;
}

.ae-ui .ae-dropdown .ae-listbox .ae-toolbar-element[class^='ae-icon-']:before,
.ae-ui [class^='ae-dropdown-'] .ae-listbox .ae-toolbar-element[class^='ae-icon-']:before {
  padding-right: 4px;
  vertical-align: middle;
}

.ae-ui .ae-dropdown *,
.ae-ui [class^='ae-dropdown-'] * {
  display: block \9;
}

.ae-ui .ae-camera {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.ae-ui .ae-camera .ae-camera-canvas {
  left: -10000px;
  position: absolute;
  top: -10000px;
}

.ae-ui .ae-camera .ae-camera-shoot {
  margin-top: 10px;
}

/** GENERAL VARIABLES **/

/**
 * AUTOGENERATED FONT ICON MAP
 *
 * This map is autogenerated in build-time based on the contents
 * of the icons/svg folder. It maps the generated icon names with
 * their corresponding glyphs.
 *
 * Use this for consistency in any skin where an icon needs to be
 * referenced from within the css like this:
 *
 * .ae-some-link:after {
 *     content: map-get($font-icon-map, iconName);
 * }
 */

/** COLOR PALETTE **/

/** COMPONENT VARIABLES **/

/** ARROW-BOX **/

/** CONTAINER-DROPDOWN **/

/** CONTAINER-INPUT **/

/** DROPDOWN **/

/** DROPDOWN-LISTBOX HEADER **/

/** SELECTION **/

/** TOOLBAR **/

.ae-editable ::-moz-selection {
  background: #869cad !important;
  color: #fff;
  text-shadow: none;
}

.ae-editable ::selection {
  background: #869cad !important;
  color: #fff;
  text-shadow: none;
}

.ae-twitter-link {
  background-color: #f8f8f8;
}

.ae-twitter-link:after {
  content: '';
  font-family: alloyeditor-ez;
}

.ae-ui .ae-arrow-box.ae-arrow-box-bottom:after {
  color: #fff;
}

.ae-ui .ae-arrow-box.ae-arrow-box-top:after {
  color: #fff;
}

.ae-ui .ae-arrow-box.ae-arrow-box-top-left:after {
  color: #fff;
}

.ae-ui .ae-arrow-box.ae-arrow-box-top-right:after {
  color: #fff;
}

.ae-ui .ae-arrow-box.ae-arrow-box-left:after {
  color: #fff;
}

.ae-ui .ae-arrow-box.ae-arrow-box-right:after {
  color: #fff;
}

.ae-ui .ae-container-dropdown > .ae-toolbar-element .ae-container .ae-icon-arrow,
.ae-ui [class^='ae-container-dropdown-'] > .ae-toolbar-element .ae-container .ae-icon-arrow {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.ae-ui .ae-container-input {
  background-color: #fff;
  border-radius: 2px;
}

.ae-ui .ae-container-input .ae-icon-remove {
  color: #869cad;
  font-size: 20px;
  line-height: 20px;
}

.ae-ui .ae-container-input .ae-container-dropdown {
  background-color: #fff;
  color: #000;
}

.ae-ui .ae-container-input input,
.ae-ui .ae-container-input .ae-input {
  border-radius: 2px;
  border-width: 0;
  color: #869cad;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  outline: none;
}

.ae-ui .ae-container-input input::-webkit-input-placeholder,
.ae-ui .ae-container-input .ae-input::-webkit-input-placeholder {
  color: #c0cbd4;
}

.ae-ui .ae-container-input input::-moz-placeholder,
.ae-ui .ae-container-input .ae-input::-moz-placeholder {
  color: #c0cbd4;
}

.ae-ui .ae-container-input input:-moz-placeholder,
.ae-ui .ae-container-input .ae-input:-moz-placeholder {
  color: #c0cbd4;
}

.ae-ui .ae-container-input input:-ms-input-placeholder,
.ae-ui .ae-container-input .ae-input:-ms-input-placeholder {
  color: #c0cbd4;
}

.ae-ui .ae-container-input input:focus,
.ae-ui .ae-container-input .ae-input:focus {
  box-shadow: none;
}

.ae-ui .ae-container-input input::-ms-clear,
.ae-ui .ae-container-input .ae-input::-ms-clear {
  display: none;
}

.ae-ui .ae-button-bridge [class*='ae-icon-'],
.ae-ui .ae-button-bridge [class*=' ae-icon-'] {
  -webkit-filter: brightness(0) invert(100%);
  filter: brightness(0) invert(100%);
}

.ae-ui .ae-button-bridge [class*='ae-icon-']:hover,
.ae-ui .ae-button-bridge [class*=' ae-icon-']:hover {
  -webkit-filter: sepia(80%) hue-rotate(-20deg) invert(90%) saturate(8);
  filter: sepia(80%) hue-rotate(-20deg) invert(90%) saturate(8);
}

.ae-ui .ae-dropdown,
.ae-ui [class^='ae-dropdown-'] {
  background-color: #fcfcfc;
  border: 1px solid #dce0e3;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 #e4ebf0;
  color: #869cad;
}

.ae-ui .ae-dropdown.ae-arrow-box:after,
.ae-ui [class^='ae-dropdown-'].ae-arrow-box:after {
  color: #fcfcfc;
  display: block;
}

.ae-ui .ae-dropdown .ae-list-header,
.ae-ui [class^='ae-dropdown-'] .ae-list-header {
  color: #b0b4bb;
  font-size: 14px;
  font-style: italic;
}

.ae-ui .ae-dropdown .ae-listbox .ae-toolbar-element:hover,
.ae-ui [class^='ae-dropdown-'] .ae-listbox .ae-toolbar-element:hover {
  background-color: #f6f8f9;
}

.ae-ui .ae-toolbar,
.ae-ui [class^='ae-toolbar-'] {
  background-color: #fff;
  border-radius: 3px;
  color: #646464;
  box-shadow: 0 4px 10px 2px rgba(86, 94, 99, 0.45);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ae-ui .ae-toolbar-element {
  box-shadow: none;
}

.ae-ui .ae-toolbar .ae-button,
.ae-ui .ae-toolbar .ae-toolbar-element,
.ae-ui [class^='ae-toolbar-'] .ae-button,
.ae-ui [class^='ae-toolbar-'] .ae-toolbar-element {
  background-color: transparent;
}

.ae-ui .ae-toolbar .ae-button:hover,
.ae-ui .ae-toolbar .ae-toolbar-element:hover,
.ae-ui [class^='ae-toolbar-'] .ae-button:hover,
.ae-ui [class^='ae-toolbar-'] .ae-toolbar-element:hover {
  color: #65b6f0;
}

.ae-ui .ae-toolbar .ae-button.ae-button-pressed,
.ae-ui .ae-toolbar .ae-toolbar-element.ae-button-pressed,
.ae-ui [class^='ae-toolbar-'] .ae-button.ae-button-pressed,
.ae-ui [class^='ae-toolbar-'] .ae-toolbar-element.ae-button-pressed {
  background-color: #575757;
  border-radius: 5px;
}

.ae-ui .ae-toolbar .ae-button.ae-button-pressed:hover,
.ae-ui .ae-toolbar .ae-toolbar-element.ae-button-pressed:hover,
.ae-ui [class^='ae-toolbar-'] .ae-button.ae-button-pressed:hover,
.ae-ui [class^='ae-toolbar-'] .ae-toolbar-element.ae-button-pressed:hover {
  color: #65b6f0;
}

.ae-ui .ae-toolbar .ae-button.ae-button-disabled,
.ae-ui .ae-toolbar .ae-toolbar-element.ae-button-disabled,
.ae-ui [class^='ae-toolbar-'] .ae-button.ae-button-disabled,
.ae-ui [class^='ae-toolbar-'] .ae-toolbar-element.ae-button-disabled {
  opacity: 0.3;
}

.ae-ui .ae-toolbar-add {
  background-color: #fff;
  border-color: #fff;
  border-radius: 50%;
  color: #333;
  box-shadow: 0 4px 12px 0 rgba(86, 94, 99, 0.45);
}

.ae-ui .ae-toolbar-add:hover,
.ae-ui .ae-toolbar-add:focus {
  opacity: 0.7;
}

.ae-ui .ae-toolbar-add .ae-button-add:hover,
.ae-ui .ae-toolbar-add .ae-button-add:focus {
  color: inherit;
}

.ae-ui .ae-toolbar-add .ae-button-add .ae-icon-add {
  font-size: 14px;
  line-height: 14px;
  color: #646464;
}

.ez-embed-type-image img {
  max-width: 100%;
}

.ez-embed-type-image.is-linked {
  position: relative;
}

.ez-embed__icon-wrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #106d95;
  border-radius: 50%;
  padding: 4px;
}

[class*='ae-icon-'],
[class*=' ae-icon-'] {
  font-size: 14px;
  line-height: 1;
}

/* required styles */

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
	position: absolute;
	left: 0;
	top: 0;
	}
.leaflet-container {
	overflow: hidden;
	}
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	  -webkit-user-drag: none;
	}
/* Safari renders non-retina tile on retina better with this, but Chrome is worse */
.leaflet-safari .leaflet-tile {
	image-rendering: -webkit-optimize-contrast;
	}
/* hack that prevents hw layers "stretching" when loading new tiles */
.leaflet-safari .leaflet-tile-container {
	width: 1600px;
	height: 1600px;
	-webkit-transform-origin: 0 0;
	}
.leaflet-marker-icon,
.leaflet-marker-shadow {
	display: block;
	}
/* .leaflet-container svg: reset svg max-width decleration shipped in Joomla! (joomla.org) 3.x */
/* .leaflet-container img: map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container .leaflet-overlay-pane svg,
.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer {
	max-width: none !important;
	max-height: none !important;
	}

.leaflet-container.leaflet-touch-zoom {
	-ms-touch-action: pan-x pan-y;
	touch-action: pan-x pan-y;
	}
.leaflet-container.leaflet-touch-drag {
	-ms-touch-action: pinch-zoom;
	/* Fallback for FF which doesn't support pinch-zoom */
	touch-action: none;
	touch-action: pinch-zoom;
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
	-ms-touch-action: none;
	touch-action: none;
}
.leaflet-container {
	-webkit-tap-highlight-color: transparent;
}
.leaflet-container a {
	-webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
}
.leaflet-tile {
	filter: inherit;
	visibility: hidden;
	}
.leaflet-tile-loaded {
	visibility: inherit;
	}
.leaflet-zoom-box {
	width: 0;
	height: 0;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	z-index: 800;
	}
/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
	-moz-user-select: none;
	}

.leaflet-pane         { z-index: 400; }

.leaflet-tile-pane    { z-index: 200; }
.leaflet-overlay-pane { z-index: 400; }
.leaflet-shadow-pane  { z-index: 500; }
.leaflet-marker-pane  { z-index: 600; }
.leaflet-tooltip-pane   { z-index: 650; }
.leaflet-popup-pane   { z-index: 700; }

.leaflet-map-pane canvas { z-index: 100; }
.leaflet-map-pane svg    { z-index: 200; }

.leaflet-vml-shape {
	width: 1px;
	height: 1px;
	}
.lvml {
	behavior: url(#default#VML);
	display: inline-block;
	position: absolute;
	}


/* control positioning */

.leaflet-control {
	position: relative;
	z-index: 800;
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
	}
.leaflet-top,
.leaflet-bottom {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	}
.leaflet-top {
	top: 0;
	}
.leaflet-right {
	right: 0;
	}
.leaflet-bottom {
	bottom: 0;
	}
.leaflet-left {
	left: 0;
	}
.leaflet-control {
	float: left;
	clear: both;
	}
.leaflet-right .leaflet-control {
	float: right;
	}
.leaflet-top .leaflet-control {
	margin-top: 10px;
	}
.leaflet-bottom .leaflet-control {
	margin-bottom: 10px;
	}
.leaflet-left .leaflet-control {
	margin-left: 10px;
	}
.leaflet-right .leaflet-control {
	margin-right: 10px;
	}


/* zoom and fade animations */

.leaflet-fade-anim .leaflet-tile {
	will-change: opacity;
	}
.leaflet-fade-anim .leaflet-popup {
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	   -moz-transition: opacity 0.2s linear;
	     -o-transition: opacity 0.2s linear;
	        transition: opacity 0.2s linear;
	}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	opacity: 1;
	}
.leaflet-zoom-animated {
	-webkit-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	        transform-origin: 0 0;
	}
.leaflet-zoom-anim .leaflet-zoom-animated {
	will-change: transform;
	}
.leaflet-zoom-anim .leaflet-zoom-animated {
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0,0,0.25,1);
	   -moz-transition:    -moz-transform 0.25s cubic-bezier(0,0,0.25,1);
	     -o-transition:      -o-transform 0.25s cubic-bezier(0,0,0.25,1);
	        transition:         transform 0.25s cubic-bezier(0,0,0.25,1);
	}
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
	-webkit-transition: none;
	   -moz-transition: none;
	     -o-transition: none;
	        transition: none;
	}

.leaflet-zoom-anim .leaflet-zoom-hide {
	visibility: hidden;
	}


/* cursors */

.leaflet-interactive {
	cursor: pointer;
	}
.leaflet-grab {
	cursor: -webkit-grab;
	cursor:    -moz-grab;
	}
.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
	cursor: crosshair;
	}
.leaflet-popup-pane,
.leaflet-control {
	cursor: auto;
	}
.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
	}

/* marker & overlays interactivity */
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane > svg path,
.leaflet-tile-container {
	pointer-events: none;
	}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane > svg path.leaflet-interactive {
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
	}

/* visual tweaks */

.leaflet-container {
	background: #ddd;
	outline: 0;
	}
.leaflet-container a {
	color: #0078A8;
	}
.leaflet-container a.leaflet-active {
	outline: 2px solid orange;
	}
.leaflet-zoom-box {
	border: 2px dotted #38f;
	background: rgba(255,255,255,0.5);
	}


/* general typography */
.leaflet-container {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	}


/* general toolbar styles */

.leaflet-bar {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
	}
.leaflet-bar a,
.leaflet-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	}
.leaflet-bar a,
.leaflet-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.leaflet-bar a:hover {
	background-color: #f4f4f4;
	}
.leaflet-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	}
.leaflet-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
	}
.leaflet-bar a.leaflet-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
	}

.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	}
.leaflet-touch .leaflet-bar a:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	}
.leaflet-touch .leaflet-bar a:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	}

/* zoom control */

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
	}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out  {
	font-size: 22px;
	}


/* layers control */

.leaflet-control-layers {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 5px;
	}
.leaflet-control-layers-toggle {
	background-image: url(images/layers.png);
	width: 36px;
	height: 36px;
	}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(images/layers-2x.png);
	background-size: 26px 26px;
	}
.leaflet-touch .leaflet-control-layers-toggle {
	width: 44px;
	height: 44px;
	}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	display: none;
	}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	position: relative;
	}
.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
	}
.leaflet-control-layers-scrollbar {
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 5px;
	}
.leaflet-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
	}
.leaflet-control-layers label {
	display: block;
	}
.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px;
	}

/* Default icon URLs */
.leaflet-default-icon-path {
	background-image: url(images/marker-icon.png);
	}


/* attribution and scale controls */

.leaflet-container .leaflet-control-attribution {
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
	margin: 0;
	}
.leaflet-control-attribution,
.leaflet-control-scale-line {
	padding: 0 5px;
	color: #333;
	}
.leaflet-control-attribution a {
	text-decoration: none;
	}
.leaflet-control-attribution a:hover {
	text-decoration: underline;
	}
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
	font-size: 11px;
	}
.leaflet-left .leaflet-control-scale {
	margin-left: 5px;
	}
.leaflet-bottom .leaflet-control-scale {
	margin-bottom: 5px;
	}
.leaflet-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;

	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	}
.leaflet-control-scale-line:not(:first-child) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px;
	}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #777;
	}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	box-shadow: none;
	}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	}


/* popup */

.leaflet-popup {
	position: absolute;
	text-align: center;
	margin-bottom: 20px;
	}
.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 12px;
	}
.leaflet-popup-content {
	margin: 13px 19px;
	line-height: 1.4;
	}
.leaflet-popup-content p {
	margin: 18px 0;
	}
.leaflet-popup-tip-container {
	width: 40px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	overflow: hidden;
	pointer-events: none;
	}
.leaflet-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;

	margin: -10px auto 0;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background: white;
	color: #333;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	}
.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	border: none;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
	}
.leaflet-container a.leaflet-popup-close-button:hover {
	color: #999;
	}
.leaflet-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	}

.leaflet-oldie .leaflet-popup-content-wrapper {
	zoom: 1;
	}
.leaflet-oldie .leaflet-popup-tip {
	width: 24px;
	margin: 0 auto;

	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
	}
.leaflet-oldie .leaflet-popup-tip-container {
	margin-top: -1px;
	}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
	border: 1px solid #999;
	}


/* div icon */

.leaflet-div-icon {
	background: #fff;
	border: 1px solid #666;
	}


/* Tooltip */
/* Base styles for the element that has a tooltip */
.leaflet-tooltip {
	position: absolute;
	padding: 6px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #222;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	}
.leaflet-tooltip.leaflet-clickable {
	cursor: pointer;
	pointer-events: auto;
	}
.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
	position: absolute;
	pointer-events: none;
	border: 6px solid transparent;
	background: transparent;
	content: "";
	}

/* Directions */

.leaflet-tooltip-bottom {
	margin-top: 6px;
}
.leaflet-tooltip-top {
	margin-top: -6px;
}
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-top:before {
	left: 50%;
	margin-left: -6px;
	}
.leaflet-tooltip-top:before {
	bottom: 0;
	margin-bottom: -12px;
	border-top-color: #fff;
	}
.leaflet-tooltip-bottom:before {
	top: 0;
	margin-top: -12px;
	margin-left: -6px;
	border-bottom-color: #fff;
	}
.leaflet-tooltip-left {
	margin-left: -6px;
}
.leaflet-tooltip-right {
	margin-left: 6px;
}
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
	top: 50%;
	margin-top: -6px;
	}
.leaflet-tooltip-left:before {
	right: 0;
	margin-right: -12px;
	border-left-color: #fff;
	}
.leaflet-tooltip-right:before {
	left: 0;
	margin-left: -12px;
	border-right-color: #fff;
	}
