<div class="row regular-content-size">
    <div class="col-xs-12 box-style">
        <h3 class="center bottom-plus new-header">{{ 'List of all Rides'|trans }}</h3>
        {% if pagerRides is not empty %}
            {# Loop over the page results #}
            {% for ride in pagerRides.currentPageResults %}
                {% if loop.first %}
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-header">
                                <th>{{ 'Ride'|trans }}</th>
                                <th>{{ 'From'|trans }}</th>
                                <th>{{ 'To'|trans }}</th>
                                <th>{{ 'Distance'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                {% endif %}
                {{ render( controller( 'ez_content:viewAction', { 'location': ride, 'viewType': 'line' } )) }}
                {% if loop.last %}
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>{{ 'There are no Rides yet.'|trans }}</p>
        {% endif %}

        {% if pagerRides.haveToPaginate() %}
            <div class="colo-xs-12 text-center">
                <div class="pagerfanta pagination">
                    {{ pagerfanta( pagerRides, 'twitter_bootstrap3_translated', {'routeName': location } ) }}
                </div>
            </div>
        {% endif %}
    </div>
</div>